<div id="messages">
	<%= partial :message, { :collection => @items } %>
</div>

<div class="nav">
<a href="#" id="more">more</a> <img id="loading" src="ajax-loader.gif" style="display: none" />
<p id="nomore">no more #greendam now, <a href="http://twitter.com/">tweet one?</a></p>
</div>

<script type="text/javascript">
var Tweet = {};

Tweet.hasMore = <%= @has_more %> ;
Tweet.lastTweetId = <%= @last_tweet_id %>;

$("#more").bind("click", function(){
	$("#loading").show();
	$.ajax({
	  type: "GET",
	  url: "/before/" + Tweet.lastTweetId,
	  success: function(html){
		$("#loading").hide();
		$("#messages").append(html);
		$(".appended").slideDown(2000);
		if(!Tweet.hasMore) {
			$("#more").hide();
			$("#nomore").show();
		}
	  }	
	});
	return false;
});
</script>
