<div id="messages">
	<%= partial :message, { :collection => @items } %>
</div>

<div class="nav">
<a href="#" id="more">more</a>
<p id="nomore">no more #greendam now, <a href="http://twitter.com/">tweet one?</a></p>
</div>

<script type="text/javascript">
var Tweet = {};

Tweet.hasMore = <%= @has_more %> ;
Tweet.lastTweetId = <%= @last_tweet_id %>;

$("#more").bind("click", function(){
	$.ajax({
	  type: "GET",
	  url: "/before/" + Tweet.lastTweetId,
	  success: function(html){
	    $("#messages").append(html);
		$(".appended").slideDown(2000);

		var m = $(".message .time a");
		if (m.size() > 0) {
			var link = $(m[m.length-1]).attr("href");
			Tweet.lastTweetId = link.substring(link.lastIndexOf("/")+1);
		}
		if(!Tweet.hasMore) {
			$("#more").hide();
			$("#nomore").show();
		}
	  }	
	});
	return false;
});
</script>
