/** START STANDARD HTML **/
body { 
  font-family: Verdana, sans-serif; 
	margin:50px 0px; 
	padding:0px;
	height:100%;
	background: url(background.jpg) repeat-x scroll left top #1B2400;
  background-attachment:fixed;
	text-align:center;
}

h1, h2, h3, h4 { font-family: "Trebuchet MS", Verdana, sans-serif;}

a:link, a:visited {
text-decoration: none;
color: #214900;
}

a:hover {
text-decoration: underline;
}

/** END STANDARD HTML **/

h1#main-title {
  position: absolute;
  left: 50%;
  margin-left:-200px;
  margin-top:-10px;
  top: 0;
  z-index:10;
  background: url(logo.png) no-repeat;
  width:827px;
  height:257px;
  text-indent: -10000px;
}

h2#main-title-eye {
  position: absolute;
  left: 50%;
  margin-left:-200px;
  margin-top:-100px;
  top: 0;
  z-index:-1;
  background: url(eye.png) no-repeat;
  width:827px;
  height:257px;
  text-indent: -10000px;
}

#content {
	width: 80%;
	margin:0px auto;
	text-align:left;
	padding:15px;
	padding-top: 30px;
}

#message {
font-size: 16px;
color: #4e4;
}

div.message {  
text-align: left;
background-color: #D6DD5D;
color: #5D8000;
padding: 10px;
width: 720px;
margin:20px auto;
}

div.imagebox img{
margin: 0;
padding: 2px;
border: 1px solid #1B2400;
}

div.textbox {
margin: 5px;
width: 600;
font-size: 20px;
margin: 0px 20px 20px 20px;
}

div.subbox {
font-size: 12G2px;
font-color: #aaa;
padding: 0 5px 5px 0px;
text-align: right;
}

.name {
font-weight: bold;
}

.rounded {
border: 3px solid #F9CB00;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
}


div.imagebox {
margin-right: 10px;
margin-bottom: 10px;
float: left;
}
